.gitignore

static/images

media/

config/api_keys.py

*.pyc

db.sqlite3

tango_with_django_project/tango_with_django_project/settings.py

tango_with_django_project/tango_with_django_project/__pycache__
